.footer-container {
    background-color: #0E345A;
    padding: 20px;
    text-align: center;
  }
  
  .social-media-links a {
    margin: 0 10px;
    color: white;
    font-size: 24px;
  }
  
  .footer-nav ul {
    list-style: none;
    padding: 0;
  }
  
  .footer-nav ul li {
    display: inline;
    margin-right: 20px;
  }
  
  .footer-nav a {
    text-decoration: none;
    color: white;
  }

  .copyright {
    text-decoration: none;
    color: white;
  }
  
  /* Add more styles as needed */
  